html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#clock-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
#attack-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
#skill-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
#ultimate-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
.choosecharacter {
display: flex;
}
.choose {
display: flex;
justify-content: center;
}
#anime1{
    height: 200px;
    width: 200px;
    background-image: var(--pi1-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0;
    transition: 2.5s;
}
#anime1.attack {
    background-color: #2196F3;
    left: calc(100% - 100px);
}