html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#clock-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
#attack-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
#skill-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
#ultimate-button {
  display: block;
  cursor: pointer;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
}
.choosecharacter {
display: flex;
}
.choose {
display: flex;
justify-content: center;
}
.choosec{
  display: flex;
  justify-content: space-between;
}
#anime1{
    height: 200px;
    width: 200px;
    background-image: var(--pi1-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0;
    transition: 1s;
}
#anime2{
    height: 200px;
    width: 200px;
    background-image: var(--pi2-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 0;
    transition: 1s;
}
#anime1.attack {
    height: 200px;
    width: 200px;
    background-image: var(--pi1-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: calc(50% - 200px);
    transition: 1s;
}
#anime2.attack{
    height: 200px;
    width: 200px;
    background-image: var(--pi2-image);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: calc(-50% + 200px);
    transition: 1s;
}
#attackeffect1{
  
}